<!-- player-list.component.html -->
<div class="container-fluid">
<div class="row">
<h2 class="text-center custombackground1 header ">Lista de Jugadores</h2>
</div>
<div class=" d-flex flex-column text-center justify-content-center">
<div class="d-flex flex-column col-3 card bko ml-5" *ngFor="let player of players">
    <div class="font-weight-bold text-white text-center card-body">
    <p class="paleta1"><strong>{{ player.name }} - {{ player.dorsal }}  - {{ player.position_name }}</strong></p>
</div>
</div>


    </div> 
 </div>
 <button class="col-3 paleta3" (click)="navigateToAddPlayer()">Agregar Nuevo Jugador</button>