<!-- player-list.component.html -->
<div class="container-fluid">
    <div class="row">
      <h2 class="text-center custombackground1 header">Lista de Jugadores</h2>
    </div>
  <div class="d-flex flex-column justify-content-center align-items-center mb-2">
    <div class="row">
      <button mat-fab extended  class="btn-primary btn" (click)="createTeam()"> <mat-icon>add</mat-icon> Nuevo Equipo</button>
    </div>
    </div>
  <div class="row justify-content-around d-flex mb-2"><!-- Listado de jugadores agrupados por equipo -->
    <mat-card class=" col-md-5 mb-4" *ngFor="let equipo of getTeamNames()">  
      <mat-card-header >{{ equipo }}</mat-card-header>
  
      <mat-card-content>
        <cdk-accordion class=" d-flex justify-content-center flex-column">
  <ng-container *ngFor="let player of groupedPlayers[equipo]; let index = index">
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      
      <!-- Accordion header with player's name and position -->
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        
          <div class="fw-bold me-3">
            {{ player.name }} - {{player.dorsal}}
            <span class="small text-muted">({{ player.position_name}})</span>
          </div>
          <mat-icon class="" *ngIf="player.mainUser">check</mat-icon>
          <mat-icon class="example-accordion-item-description">
            {{ accordionItem.expanded ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </mat-icon>
         
       
      
      </div>
      
      <!-- Accordion body with player details and buttons -->
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">

        <!-- Main user button logic -->
        <div class="d-flex align-items-center justify-content-between">
         
          <p *ngIf="player.mainUser" class="text-success">
            {{ player.mainUser }}
          </p>
          <button mat-fab extended  class="example-accordion-item-description" *ngIf="!player.mainUser" (click)="openAssignUserForm(player)">
            <mat-icon>person_add</mat-icon> Asignar Usuario
          </button>
        </div>

        <!-- Optional assign user form (conditional rendering) -->
        <div *ngIf="selectedPlayer && selectedPlayer.player_id === player.player_id" class="assign-user-form" >
          <form (ngSubmit)="assignUser()" class="d-flex flex-column justify-content-between align-items-center">
            <select [(ngModel)]="selectedUserId" name="userId" class="form-select" required>
              <label>Asignar Usuario a {{ selectedPlayer.name }}</label>
              <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
            </select>
            <button mat-flat-button expanded type="submit">Asignar Usuario</button>
         
          </form>
        </div>
      </div>
      
    </cdk-accordion-item>
  </ng-container>
</cdk-accordion>

     
    </mat-card-content>
    <ng-template #noPlayersMessage>
      <p class="text-danger">No hay jugadores en este equipo.</p>
    </ng-template>
  
      <!-- Botón para abrir el formulario de agregar jugador -->
      <button mat-fab extended class="mt-2"  (click)="toggleForm(equipo)"><mat-icon>add_circle</mat-icon> Jugador</button>
  
      <!-- Formulario para agregar jugador -->
      <div *ngIf="activeTeamForm === equipo">
        <form [formGroup]="matchForm" (ngSubmit)="onSubmit(equipo)" class="d-flex flex-column">
          <mat-form-field>
            <mat-label>
              Nombre Jugador
            </mat-label>
            <input matInput formControlName="name" placeholder="Nombre del Jugador" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              Dorsal
            </mat-label>
            <input matInput formControlName="dorsal" type="number" placeholder="Dorsal" />
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Posicion</mat-label>
            <mat-select formControlName="positionId">
              @for (position of positions; track position) {
                <mat-option [value]="position.id">{{position.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          
          <button mat-fab extended type="submit"><mat-icon>send</mat-icon> Guardar Jugador</button>
        </form>
      </div>
    
   </mat-card>
</div>

