.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
  
  .player-button:hover {
   cursor: pointer;
   color:white;
   font-weight: bold;
    
  }
  .player-button:active{
    background-color: #D09EE3;
  }
  .dialogo{
    background-color: #0E678D;
    max-width: 50vw;
  }

  .h11{
    align-self:center;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }