<div class="container-fluid d-flex justify-content-center vh-100">


 <mat-card class=" col-md-6 align-self-center bg-body justify-content-center d-flex">
   
  <mat-card-header><mat-card-title>Nuevo Partido</mat-card-title></mat-card-header>
  <mat-card-content>
<form class="d-flex flex-column" [formGroup]="matchForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="ml-2">
    <mat-label  for="rivalTeam">Equipo Rival:</mat-label>
    <input matInput type="text" id="rivalTeam" formControlName="rivalTeam">
  </mat-form-field>
  <mat-form-field class="ml-2">

    <mat-label  for="date">Fecha:</mat-label>
    <input matInput type="date" id="date" formControlName="date">  
  </mat-form-field>
  <mat-form-field class="ml-2">

    <mat-label for="location">Ubicación:</mat-label>
    <input matInput type="text" id="location" formControlName="location">
</mat-form-field>
  <mat-form-field>
    <mat-label>Elige tu Plantilla</mat-label>
    <mat-select formControlName="equipoId">
      @for (team of teams; track team) {
        <mat-option [value]="team.id">{{team.nombre}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  
    <button mat-fab extended type="submit"  [disabled]="!matchForm.valid"><mat-icon>start</mat-icon>Empezar Partido</button>




</form>

 </mat-card-content>
</mat-card>
</div>
