<div class="contenedorp" >

        <div class="row h-100 fondo gap-3">
          <div class="col d-flex flex-column conte gap-3">

              <div class="imagen">
                <img src="../../assets/logo.svg" alt="">
              </div>
            <span class="equipoL">CV ROCHELAMBERT</span>
            <div class="nset">{{ marcador?.setsLocal }}</div>
            <div class="set">SETS</div>
          </div>
          <div class="col-6 d-flex conte gap-3">
            <div class="centro">
              SET   
              {{setsTotales}}
            </div>
            <div class="d-flex puntos gap-5">
              <div [ngClass]="{ 'text-yellow-400': parpadeoLocal, 'text-white': !parpadeoLocal }" [@parpadeoLocal]="parpadeoLocal" class="puntos1">
                {{marcador.scoreLocal}}
              </div>
              <span>-</span>
              <div [ngClass]="{ 'text-yellow-400': parpadeoVisitor, 'text-white': !parpadeoVisitor }" [@parpadeoVisitor]="parpadeoVisitor" class="puntos1">
                {{marcador.scoreVisitor}}
              </div>

            </div>
          </div>
          <div class="col d-flex flex-column conte gap-3">

            <div class="imagen">
              <img src="../../assets/logo.svg" alt="">
            </div>
          <span class="equipoL">VISITANTE</span>
          <div class="nset">{{ marcador?.setsVisitor}}</div>
          <div class="set">SETS</div>
        </div>
          
        </div>
        <div>

        </div>
        
  </div>
      