.fondo{
  color:white;

}
.imagen{
  background-color:white;
  border-radius:9999px;
  overflow:hidden;
  width:8rem;
  height:8rem;
}
.imagen img{
  width:8rem;
display:block;
object-fit:cover;
}
.equipoL{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}
.nset,.set{
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.25rem;

}
.set{

  font-size: 0.875rem;
  line-height: 1.25rem;
}
.conte{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}
.centro{
  font-weight: 700;
  font-size:5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.puntos{

  justify-content: center;
  align-items: center;

}

.puntos1,.puntos span{
  font-weight: 700;
  font-size: 15rem;
  line-height: 1;

}
.contenedorp{
  height:100vh;
  background-color:black;
  background: rgba(0, 0, 0, 0.6); 
  backdrop-filter:blur(2px);
  align-items: center;
 
}
.text-yellow-400{
color:yellow;
}
.text-white{
color:white;

}