<div class="container h-100 w-100 position-absolute top-50 start-50 translate-middle" >
        <div class="row h-100 p-0 m-0">
          <div class="row p-0 m-0">
            <div class="col-6 backgroundperso d-flex align-items-center justify-content-center  align-middle azul">
              <p class=" text-center  fw-bold">CVR</p>
            </div>
            <div class="col-3 backgroundperso d-flex align-items-center justify-content-center  align-middle azul">
              <p class=" text-center ">{{ marcador?.setsLocal }}</p>
            </div>
            <div class="col-3 backgroundperso d-flex align-items-center justify-content-center  align-middle azulc">
              <p class=" text-center " [@parpadeoLocal]="parpadeoLocal">{{ marcador?.scoreLocal }}</p>
            </div>
          </div>
          <div class="row p-0 m-0">
            <div class="col-6 backgroundperso  d-flex align-items-center justify-content-center align-middle rosa">
              <p class=" text-center  fw-bold">VIS</p>
            </div>
            <div class="col-3 backgroundperso d-flex align-items-center justify-content-center align-middle rosa">
              <p class=" text-center ">{{ marcador?.setsVisitor }}</p>
            </div>
            <div class="col-3 backgroundperso d-flex align-items-center justify-content-center  align-middle rosac">
              <p class=" text-center " [@parpadeoVisitor]="parpadeoVisitor">{{ marcador?.scoreVisitor }}</p>
            </div>
          </div>
        </div>
      </div>
      