<form
  
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  class="form login-form"
  novalidate
>
  <div class="input-group">
    <label for="username">Nombre Usuario</label>
    <input
      matInput
      type="text"
      id="username"
      name="username"
      [(ngModel)]="form.username"
      placeholder="Ingresa tu usuario"
      autocomplete="username"
      required
      #username="ngModel"
    />
    <mat-error *ngIf="username.errors && f.submitted">
      El nombre de usuario es requerido
    </mat-error>
  </div>

  <div class="input-group">
    <label for="password">Contraseña</label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      [(ngModel)]="form.password"
      placeholder="Ingresa tu contraseña"
      autocomplete="current-password"
      required
      minlength="6"
      #password="ngModel"
    />
    <mat-error *ngIf="password.errors && f.submitted">
      <span *ngIf="password.errors['required']"
        >La contraseña es requerida</span
      >
      <span *ngIf="password.errors['minlength']"
        >La contraseña debe tener al menos 6 caracteres</span
      >
    </mat-error>
  </div>

  <button class="sign" [disabled]="isLoading">
    <span *ngIf="!isLoading">INICIAR SESIÓN</span>
    <div *ngIf="isLoading" class="dot-spinner">
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
    </div>
  </button>

  <mat-error *ngIf="f.submitted && isLoginFailed" class="login-error">
    {{ errorMessage }}
  </mat-error>
</form>

