<div class="d-flex flex-column text-center align-items-center py-5">
    <div class="flex col-4 justify-content-center bg-light py-2 rounded ">
      <img
        id="profile-img"
        src="../../assets/logo.svg"
        class="profile-img-card"
        style="size:60px"
      />
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group mt-2">
          <label for="username">Usuario</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="password">Contrasena</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Contrasena Requerida</div>
            <div *ngIf="password.errors['minlength']">
              La contrasena debe tener un minimo de 6 caracteres
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <button class="btn">
           INICIAR SESION
          </button>
        </div>
        <div class="form-group mt-2">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Algo ha ido mal: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-info " *ngIf="isLoggedIn">
        Conectado/a como {{ roles }}.
      </div>
    </div>
  </div>