
<section class="container-fluid d-flex justify-content-center"> 
    <div class="card col-sm-6 align-self-center">
    <h2 class="card-header">Nuevo Equipo</h2>
    <div class="card-body border-bottom" *ngFor="let team of teams">
      <div class=" d-flex align-items-center flex-shrink-0 me-3">
        <div class="d-flex flex-column fw-bold">
        <div class="text-dark line-height-normal mb-1">{{ team.nombre }}</div>  
        <div class="small text-muted line-height-normal">
          {{team.id}}
        </div>
        </div>
        
      </div>
    </div>
    <div class="card-body">
      <form>
    <mat-form-field [formGroup]="matchForm" (ngSubmit)="onSubmit()">
      <mat-label  class="form-label" for="rivalTeam">Nombre</mat-label>
      <input matInput class="form-input" type="text" id="rivalTeam" formControlName="team">
      
    </mat-form-field>
  </form>
    <button mat-fab (click)="onSubmit()" type="submit" [disabled]="!matchForm.valid"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</section>  