<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
<div class="col-6 card">
    <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <h4 class=" fs-1 text-center text-danger alert alert-warning">EL VESTUARIO ESTA CERRADO PARA TI</h4>
        <img style="width:30vh" src="../../assets/10.png">
        
    </div>
        <div class="card-footer">
            <h4 class="text-center fs-5 text-secondary"> Contacta con un admin, para los permisos</h4>
        </div>

</div>
</div>