<!-- add-player.component.html -->
<form (submit)="onSubmit()" #playerForm="ngForm">
  <div class="fjugador">
    <label for="newPlayer.name">Nombre del Jugador:</label>
    <input type="text" id="playerName" name="playerName" [(ngModel)]="newPlayer.name" required>

    <label for="posicion">Posición:</label>
    <select id="posicion" name="posicion" [(ngModel)]="selectedPositionId" required>
      <option *ngFor="let position of positions" [value]="position.id">{{ position.name }}</option>
    </select>

    <label for="newPlayer.dorsal">Dorsal:</label>
    <input id="dorsal" name="dorsal" [(ngModel)]="newPlayer.dorsal" type="number" required>
  </div>

  <!-- Otros campos del jugador, si es necesario -->

  <button type="submit">Crear Jugador</button>
</form>
