.paleta1{
    color:#d59967;
}
.paleta2{
    color:#bfdaec;
}
.palb2{
   border-color:#aba4bd;
}
.bdr{
    background: rgba(0, 0, 0, 0.1); /* Color de fondo semi-transparente */
    backdrop-filter: blur(10px);
}