.custombackground{
  background-color: #aba4bd; 
}
  
.detalles{
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 0 20px 20px 0 ;
    background-color:#d59967;
    font-size: 16px;
}
.borderss{
  border-color: #0E678D;  
  border-width: 10px;
}
.rosa { grid-area: Fallos;
  color:#bfdaec;
  font-family: "Oswald",Sans-serif;
 }
 .blanco{
  color:#001B30 ;
 }
.titulo { 
  color: #C281E8;
  font-family: "Oswald",Sans-serif
  
   }
.body{
    align-items: center;
    
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:40px;
    color:#EEE5E9;
    background-color:#00365f;

  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 0.4fr;
  gap: 13px;
}
button:hover{
    background-color:#d59967;
    color:aliceblue;
    font-weight: bold;
    padding: 4px;
    
}
button{
  background-color:#d59967;
  border:0px;
}
.fondonaranja{
  background-color:#d59967;
}
