@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

 .backgroundazul{
  background-color: #4B0082; 
  background: linear-gradient(180deg, rgba(75,0,130,1) 11%, rgba(75,0,130,0.4537464644060749) 83%, rgba(90,174,195,0) 100%);
  font-family: "Bruno Ace", sans-serif;
 }
 .pista {
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #eee;
  font-weight: bold;
}

 .backgroundrosa{
  font-family: "Bruno Ace", sans-serif;
  background-color: #D09EE3;
 }
  .header { grid-area: header;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #A3D1E7; 
border-color:#00365f;
color: black;
border-width: 20px;}

.marbot{
  margin-left: 20px;
  margin-left: 4px;
  
}
.marito{
  background-color:rgba(0,27,48,0.8)
}
.svg{
  background-image:url('../../assets/volley.svg');
  background-size:cover;
  background-position:50% 30%;
  background-repeat:no-repeat;
  background-attachment:local;

}
  .header2 { 
    font-family: "Bruno Ace", sans-serif;
    grid-area: header2; 
    background-color: #D09EE3;
    border-color:#00365f;}
  .marcadorLocal {
     grid-area: marcadorLocal; 
float:right; }    
  .marcadorVisitante { grid-area: marcadorVisitante; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .orderVSS,.orderL{
    order: 1;
    
  }
  .orderLS,.orderVS{order:2;margin:auto;} 
  .orderLSS,.orderV{order:3;}
  @media (max-width:481px)  { 
    .marcadorVisitante { grid-area: marcadorVisitante; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .marbot{
    margin-left: auto;
  }
.orderV,.orderL{
  order: 1;
}
.small-font,.small-font1{
  font-size: 8px;
}
.orderLS,.orderVS{order:2;} 
.orderLSS,.orderVSS{order:3;}}
.fondo1{
  background-color: #e0e0ff;
}
.fondo2{
  background-color: hsl(244, 100%, 95%);
}
  .Aciertos { 
    color: #C281E8;
    font-family: "Oswald",Sans-serif;
    
     }
  .roche{border-width: 5px !important;
    border:#5AAEC3;
  }
  .Fallos { 
    color:#5AAEC3;
    font-family: "Oswald",Sans-serif;
  margin-left: 10px; }
  .box{box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
   .score-container {
        display:flex;
        flex-direction: row;
        
        align-items: center;
      }
      .score-container1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: baseline;
    align-items: baseline;
    }
    .small-font1{
      font-size: 20px;
      color: white;
      margin-right: 5px;
    }
    .botonesacierto{
      display: flex;
      align-items: center;
      justify-items: center;
    }
    p{
      margin:0px;
    }
    .small-font{
      font-size: 16px;
      
      color: white;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: 300;
    }
   .nomargen{
    margin-bottom: 0px;
   }   
.score-box,
.sets-box {
  margin: auto;
  border: 1px solid #C281E8;
  border-width: 3px;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
  color:#e8eaef;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.score-boxL,
.sets-boxL {
  border:#5AAEC3;
 
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
  color:#e8eaef;
  
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

      
      .points,
      .sets {
        font-weight: bold;
      }
/*cosasssss??*/



.botonBorrar{
  background-color:#FFFFFF;
 
}
.sexteto1,.sexteto2{
  
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
}
.sexteto1{
  background: rgb(90,174,195);
}
.sexteto2{
  background: rgb(194, 129, 232);
  box-shadow: #4B0082 4px;
}

.bkdrop{
  
  background-color: rgba(0, 0, 0, 0.4);
}
.invis{
  border-bottom: 5px #001B30;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: rgb(194, 129, 232);
}

.invis2{
  border-bottom: 5px #001B30;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: rgb(90,174,195);
}
.botonBorrar:hover{
  background-color: transparent;
  color:#FFFFFF;
}
.equipo2{
  color:white;
}
.equipo1{
  color:#5AAEC3;
}
.equipo2,
.equipo1{
  font-family: "Oswald",Sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.margenarriba{
  border-top: 4px solid white;
  margin-bottom: 2px;
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.margenabajo{
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.blanco{
  color:white;
  
}
.court-container {
  max-width: auto;
  margin: auto;
  margin-top: 20px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.court-container1 {
  max-width: auto;
  margin: auto;
  margin-top: 20px;
  aspect-ratio:1/1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.front-zone {
  height: 33.33%;
  border-bottom: 2px solid #1976d2;
  background-color: #bbdefb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.back-zone {
  height: 66.67%;
  background-color: #e0e0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.court-info {
  text-align: center;
  margin-top: 20px;
}

.position-box {
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
@media all and (max-width: 768px) {
.position-box{
  width: 10vw;
  height: 10vw;
}

 }

 .flexp{
  flex-direction:row ;
 }
 @media (max-width: 768px), (orientation: portrait) and (max-width: 1024px) {
  /* Tus estilos para dispositivos más pequeños o en modo vertical */
  .flexp{
    flex-direction: column;
    background-color:#e8eaef;
  }
  .flex1{
    flex-direction: row-reverse;
  }
  .dis{
    display:none;
  }
}

.position-number {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.primary{
  background-color: #2196f3;
}
.secondary{
  background-color: hwb(240 50% 0%);
}
.saque{
  background-color: hwb(240 30% 0%);
}
