button{
    font-size: large;
}
.main{
   
    align-items: start;
}
.custom-background {
    background-color:#aba4bd; 
   
}
.c-bg{
    background-color:#d59967;
}
.main-content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 93px;
  }
  .card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
  }
  .card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .card .card-body {
    padding:20px 15px
  }
  .card-category,
.category {
  text-transform:capitalize;
  font-weight:400;
  color:#9a9a9a;
  font-size:.7142em
}
.card-category {
  font-size:1em
}
.card .card-header .card-title {
    margin-top:10px
  }
  .ca{
    min-height:20vh;
    max-height: 40vh;
  }
