<!-- home.component.html -->
<div class="container-fluid">
        <header className="bg-dark text-white p-4 rounded shadow mb-4">
                <div class="container">
                        <h2 class="display-6 fw-bold text-white"> PIPE STATS</h2>
                </div>
        </header>


        <hr class="dark mb-2">
        <div class=" bkkkk">

                <div class="row mb-5 " @fadeIn>
                        <mat-card>
                                <mat-card-header>
                                        <h2><mat-card-title> Hola {{currentUser.username}}</mat-card-title></h2>

                                </mat-card-header>
                                <mat-card-content>
                                        <p class="text-dark font-weight-bold" *ngIf="!isLoggedIn">Bienvenido a la pagina
                                                de inicio para realizar las estadisticas en directo, estas preparado/a?,
                                                <a href="/login" class="text-dark"><strong>INICIA SESION</strong></a>
                                        </p>

                                        <p *ngIf="isLoggedIn">Estas conectado como <span class="fw-bold text-secondary"
                                                        *ngFor="let role of currentUser.roles" [ngSwitch]="role">

                                                        <span *ngSwitchDefault>{{ role }}</span>
                                                        <span *ngSwitchCase="'ROLE_ADMIN'">ADMIN </span>
                                                        <span *ngSwitchCase="'ROLE_ENTRENADOR'">ENTRENADOR/A </span>
                                                        <span *ngSwitchCase="'ROLE_USER'">JUGADOR </span>
                                                </span></p>
                                </mat-card-content>
                        </mat-card>
                </div>
                <div @fadedIn class="row mb-5">
                        <div class=" col-6">
                                <mat-card class=" h-100">
                                        <mat-card-header class="">
                                                <h2 class="fs-3">
                                                        Resumen Temporada
                                                        <span *ngIf="resumentemporada!=null"
                                                                class="text-secondary fs-5">Acierto/Fallo =
                                                                {{resumentemporada[0].event_count || 0}} /
                                                                {{resumentemporada[1].event_count || 0}} </span>
                                                        <span *ngIf="resumentemporada===null"
                                                                class="text-secondary fs-5">Acierto/Fallo = 0/0 </span>
                                                </h2>

                                        </mat-card-header>
                                        <mat-card-content class="align-self-stretch h-100">


                                                <ngx-charts-advanced-pie-chart
                                                        *ngIf="pieChartData && pieChartData.length > 0"
                                                        [results]="pieChartData2" [animations]="true" [gradient]="false"
                                                        [tooltipDisabled]="false">
                                                </ngx-charts-advanced-pie-chart>
                                                <span *ngIf="pieChartData && pieChartData.length <= 0">NO SE HAN
                                                        ENCONTRADO DATOS</span>


                                        </mat-card-content>
                                        <mat-card-content class="align-self-stretch h-100">

                                                <ngx-charts-advanced-pie-chart
                                                        *ngIf="pieChartData && pieChartData.length > 0"
                                                        [results]="pieChartData" [animations]="true" [gradient]="false"
                                                        [tooltipDisabled]="false">
                                                </ngx-charts-advanced-pie-chart>
                                               



                                        </mat-card-content>


                                </mat-card>
                        </div>
                        <div class=" col-6">
                                <mat-card class="h-100">
                                        <mat-card-header class="">
                                                <h2 class="fs-3">Grafico Temporal Aciertos y Fallos</h2>

                                        </mat-card-header>
                                        <mat-card-content class="align-self-stretch h-100">
                                                <span *ngIf="pieChartData && pieChartData.length <= 0">NO SE HAN
                                                        ENCONTRADO DATOS</span>
                                                <ngx-charts-line-chart [results]="chartData" [xAxis]="true"
                                                        [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
                                                        [showYAxisLabel]="true" [yAxisTickFormatting]="formatYAxisTicks"
                                                        xAxisLabel="Fecha" yAxisLabel="Eventos" *ngIf="chartData && chartData.length > 0">
                                                </ngx-charts-line-chart>



                                        </mat-card-content>

                                </mat-card>
                        </div>
                </div>
                <mat-card >
                        <mat-card-content>
                                
                                <form>
                                        <mat-form-field>
                                                <mat-select (ngModelChange)="getclasification($event)">
                                                        @for (team of equipos; track team) {
                                                                <mat-option [value]="team.id">{{team.nombre}}</mat-option>
                                                        }
                                                </mat-select>
                                        </mat-form-field>
                                </form>

                        </mat-card-content>
                </mat-card>



        </div>