button{
    font-size: large;
}
.main{
   
    align-items: start;
}
.custom-background {
    background-color:transparent; 
    backdrop-filter: blur(5px);
    border-radius:9px;/* Puedes cambiar el color de fondo según tus preferencias */
    /* Otros estilos personalizados si los necesitas */
}